#blog-title{
    color: rgb(78, 5, 5);
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}
.blog{
    width: 50%;
    background-color: antiquewhite;
    border: 20px solid yellow;
    border-radius: 15px;
    padding: 5px;
    margin: 50px 20px 40px 100px; 
    padding-left: 25px;
    padding-right: 20px;
    margin: 0 auto;
    width: 50%;
    
}
.blog p{
    text-align: justify;
    color: black;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.author-name{
    color: rgb(241, 187, 115);
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
